

body{
    display: grid;
    grid-template: 1fr 4fr / 1fr 5fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar body";
    margin: 0px;
}

.header{
    grid-area: header;
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    font-weight: 900;
    padding: 8px;
}

.header-top{
    display: grid;
    grid-template: 1fr / 3fr 2fr;
}

.header-top-right{
    display: grid;
    justify-content: right;
    align-items: top;
    grid-template: 1fr / 1fr 1fr 1fr;
}

.header-bottom{
    display: grid;
    grid-template: 1fr / 4fr 2fr;
    align-content: baseline;
    justify-items: baseline;
}

.header-bottom-right{
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    gap: 8px;
    align-items: bottom;
    justify-content: right;
}

.header-bottom-right > button{
    background-color: dodgerblue;
    color: aliceblue;
    padding: min(8px);
    border-radius: min(24px);
}

.header-bottom-left{
    display: grid;
    grid-template: 1fr / 1fr 6fr;
}

.greeting{
    display: grid;
    padding-left: min(8px);
}

.username-large{
    font-size: x-large;
}

.sidebar{
    background-color: dodgerblue;
    color: aliceblue;
    display: grid;
    grid-template: 1fr 3fr 2fr 3fr / 1fr;
    grid-area: sidebar;
    padding: 8px;
    font-weight: 900;
}

.sidebar-header{
    font-size: 180%;
}

.sidebar>ul{
    display: grid;
    align-content: center;
    justify-items: left;
    gap: 8px;
}

.body{
    grid-area: body;
    padding: 8px;
    background-color: gainsboro;
}

ul{
    list-style: none;
}