

body{
    display: grid;
    grid-template: 1fr 4fr / 1fr 5fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar body";
    margin: 0px;
}

.header{
    grid-area: header;
    display: grid;
    grid-template: 1fr 2fr / 1fr;
    font-weight: 900;
    padding: 8px;
    justify-content: bottom;
    align-items: bottom;
}

.header-top{
    display: grid;
    grid-template: 1fr / 4fr 2fr;
}

.header-top-right{
    display: grid;
    justify-content: right;
    align-items: top;
    grid-template: 1fr / 3fr 1fr 1fr 4fr 1fr;
    gap: min(4px);
}

.notification-icon{
    display: grid;
    justify-content: center;
}


.header-bottom{
    display: grid;
    grid-template: 1fr / 2fr 1fr;
    align-items: baseline;
    justify-content: baseline;
}

.header-bottom-right{
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    gap: 8px;
    align-items: bottom;
    justify-content: right;
}

.header-bottom-right > div{
    display: grid;
    grid-template: 3fr 1fr / 1fr;
    justify-content: right;
    align-items: right;
}

.header-bottom-right > div > button{
    background-color: dodgerblue;
    color: aliceblue;
    padding: minmax(8px, 14px);
    border-radius: min(24px);
    align-content: right;
    max-height: 36px;
}

.header-bottom-left{
    display: grid;
    grid-template: 1fr / 1fr 3fr;
    justify-content: bottom;
    align-items: bottom;
}

.logo-large{
    display: grid;
    align-items: bottom;
    justify-content: bottom;
    height: max(16vh);
}

.greeting{
    display: grid;
    padding-left: min(8px);
    grid-template: 1fr 1fr 1fr/ 1fr;
}

.username-large{
    font-size: x-large;
}

.sidebar{
    background-color: dodgerblue;
    color: aliceblue;
    display: grid;
    grid-template: 1fr auto-fill auto-fill 1fr / 1fr;
    grid-area: sidebar;
    padding: 8px;
    font-weight: 900;
}

.sidebar-header{
    font-size: 180%;
}

.sidebar>ul{
    display: grid;
    align-content: center;
    justify-items: left;
    gap: 8px;
}

.sidebar>ul>li{
    display: grid;
    grid-template: 1fr / 1fr 2fr;
}

.body{
    grid-area: body;
    padding: 8px;
    background-color: gainsboro;
    display: grid;
    grid-template: 1fr / 3fr 1fr;
}

ul{
    list-style: none;
}


.projects-title{
    font-size: large;
    font-weight: 900;
}

.project-cards{
    display: grid;
    gap: min(12px);
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
}

.project-cards>li{
    background-color: aliceblue;
    border-left: 1rem solid gold;
    padding: 1rem;
}

.card-title{
    font-weight: 900;
}

.announcements-title{
    font-size: larger;
    font-weight: 900;
}

.announcements-cards-title{
    font-size: large;
    font-weight: 900;
}

.announcements-cards{
    display: grid;
    gap: min(12px);
    grid-template: 1fr 1fr 1fr / auto-fill;
}

.announcements-cards>li{
    background-color: aliceblue;
    padding: 1rem;
}

.trending-title{
    font-size: large;
    font-weight: 900;
}

.trending-cards{
    display: grid;
    padding: 1rem;
    grid-template: 1fr 1fr 1fr 1fr / auto-fill;
    gap: min(12px);
}

.updates{
    display: grid;
    grid-template: 1fr / auto;
}

.trending-cards>li{
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    padding: 1rem;
    background-color: aliceblue;
}

.trending-cards-icon>img{
    max-height: 48px;
}

.trending-cards-info{
    display: grid;
}